@forward 'swiper/css';
@forward 'swiper/css/navigation';
@forward 'swiper/css/pagination';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
}

.layout-default {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1760px;
  margin: 0 auto;

  @include bp-1920 {
    max-width: 1440px;
  }

  @include mobile {
    padding: 0 16px;
  }
}
