// black
$black: #323232;

// white
$white: #ffffff;
$white-alpha-90: rgb(255 255 255 / 90%);
$white-alpha-80: rgb(255 255 255 / 80%);
$white-alpha-70: rgb(255 255 255 / 70%);
$white-alpha-60: rgb(255 255 255 / 60%);
$white-alpha-50: rgb(255 255 255 / 50%);
$white-alpha-40: rgb(255 255 255 / 40%);
$white-alpha-30: rgb(255 255 255 / 30%);
$white-alpha-20: rgb(255 255 255 / 20%);
$white-alpha-10: rgb(255 255 255 / 10%);
$white-alpha-05: rgb(255 255 255 / 5%);
